.to-top {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 3%;
    right: 5%;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: $primary;
    transform: rotate(180deg);
    cursor: pointer;
    z-index: 15;

    @media screen and (max-width: 400px) {
        height: 72px;
        width: 72px;
    }

    &:hover {
        background: $hover;
        transition: all .4s;
    }

    svg {
        height: 30px;
        width: 30px;
        fill: none;
        stroke: $white;
        stroke-miterlimit: 10;
    }

    &::before {
        content: '';
        position: absolute;
        top: 6px;
        left: 6px;
        width: 86px; 
        height: 86px;
        border: .1rem solid $white;
        border-radius: 50%;

        @media screen and (max-width: 400px) {
            width: 58px; 
            height: 59px;
        }
    }
}

.hidden {
    opacity: 0;
    transition: all .2s;
}
