.info-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12rem;
    padding: 7.5rem 1.5rem 9.5rem 1.5rem;
    background: $primary;

    h4 {
        max-width: 745px;
        font-family: $rubik;
        font-size: 3.6rem;
        font-weight: 700;
        text-align: center;
        color: $white;

        @media screen and (max-width: 500px) {
            font-size: 2.6rem;
        }
    }

    button {
        @include button(transparent, $white);
        margin-top: -1rem;
        padding: 2rem 7rem;
        border: none;
        font-family: $rubik;
        font-weight: 500;
        background: $hover;
        color: $white;

        @media screen and (max-width: 550px) {
            padding: 1.5rem 4rem;
            font-size: 1.6rem;
        }

        &:hover {
            background: $white;
            color: $hover;
            transition: all .2s;
        }
    }
}
