.treatment-block {
    flex-direction: column;

    h2 {
        margin-top: 8rem;
        margin-bottom: 9rem;

        @media screen and (max-width: 1200px) {
            margin-top: 3rem;
            margin-bottom: 5rem;
        }

        @media screen and (max-width: 500px) {
            margin-top: 8rem;
        }
    }

    .treatment-content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        figure {
            position: relative;
            max-width: 280px;
            min-height: 190px;
            padding: 5rem 5rem 2rem 5rem;
            margin: 0 1.4rem 3.4rem 1.4rem;
            border: .1rem solid $grey;

            @media screen and (max-width: 500px) {
                padding: 3rem 2rem 2rem 2rem;
            }

            &.hovered {
                border: .1rem solid $black;
                transition: all .2s;
            }

            & > svg {
                position: relative;
                left: 10px;
                display:block;
                margin: 0 auto;
                height: 65px;
            }
        }

        .arrow-down:hover + svg {
            transform: scale(1.1, 1.1);
            transition: all .2s;
        }

        .arrow-down {
            position: absolute;
            left: 50%;
            bottom: -20px;
            transform: translateX(-50%);
            cursor: pointer;

            svg {
                position: relative;
                top: 9px;
                left: 3px;
                width: 50px;
                height: 50px;
            }

            &:hover svg {
                transform: scale(1.1, 1.1);
                transition: all .4s;
            }
        }

        .treatment-svg {
            fill: $primary;
        }

        .treatment-svg2 {
            fill: $white;
            stroke: $primary;
            stroke-miterlimit:10;
        }

        p {
            font-size: 1.4rem;
            max-height: 47px;
            overflow-y: hidden;
            text-overflow: ellipsis;
            text-align: center;
        }
    }
}
