{
    "env": {
        "browser": true,
        "node": true
    },

    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },

    "rules": {
        "indent": "off",
        "import/no-extraneous-dependencies": [
            "error", 
            { 
                "devDependencies": true, 
                "optionalDependencies": false, 
                "peerDependencies": false
            }
        ],
        "linebreak-style": 0,
        "no-unused-expressions": [
            "error",
            { "allowTernary": true }
        ]
    },

    "extends": "airbnb"
}
