@mixin on-circle($item-count, $circle-size, $item-size) {
    width:  $circle-size;
    height: $circle-size;
    padding: 0;
    border-radius: 50%; 
    list-style: none;       
    
    > * {
        display: block;
        position: absolute;
        top:  50%; 
        left: 50%;
        width:  $item-size;
        height: $item-size;
        margin: -($item-size / 2);
    
        $angle: (360 / $item-count);
        $rot: 0;
    
        @for $i from 1 through $item-count {
            &:nth-of-type(#{$i}) {
                transform: 
                    rotate($rot * 1deg) 
                    translate($circle-size / 2) 
                    rotate($rot * -1deg);
            }
    
            $rot: $rot + $angle;
        }
    }
}

@mixin button($border-color, $font-color: $primary) {
    padding: 2rem 3rem;
    border: .2rem solid $border-color;
    border-radius: 4rem;
    font-family: $roboto;
    font-size: 1.8rem;
    background: transparent;
    color: $font-color;
    cursor: pointer;

    &:hover {
        border-color: $hover;
        background: $hover;
        transition: all .3s;
    }

    @media screen and (max-width: 550px) {
        padding: 1.5rem 2rem;
        font-size: 1.6rem;
        font-weight: 400;
    }
}
