// breakpoints
$sm: 1395px;
$xs: 550px;

// colors
$primary: #00BE54;
$secondary: #B2EBCB;
$white: #FFFFFF;
$black: #191919;
$hover: #007332;

// fonts 
$lato: Lato, Arial, Helvetica, sans-serif;
$roboto: Roboto, Arial, Helvetica, sans-serif;
