// colors
$primary: #00BE54;
$secondary: #B2EBCB;
$white: #FFFFFF;
$black: #191919;
$hover: #007332;
$grey: #E2E2E2;
$dark-grey: #8C8C8C;

// fonts 
$lato: Lato, Arial, Helvetica, sans-serif;
$roboto: Roboto, Arial, Helvetica, sans-serif;
$rubik: Rubik, Arial, Helvetica, sans-serif;
