// breakpoints
$sm: 1395px;
$xs: 550px;

// colors
$primary: #00BE54;
$secondary: #B2EBCB;
$white: #FFFFFF;
$black: #191919;
$hover: #007332;
$grey: #E2E2E2;
$dark-grey: #8C8C8C;

// fonts 
$lato: Lato, Arial, Helvetica, sans-serif;
$roboto: Roboto, Arial, Helvetica, sans-serif;
$rubik: Rubik, Arial, Helvetica, sans-serif;

@mixin on-circle($item-count, $circle-size, $item-size) {
    width:  $circle-size;
    height: $circle-size;
    padding: 0;
    border-radius: 50%; 
    list-style: none;       
    
    > * {
        display: block;
        position: absolute;
        top:  50%; 
        left: 50%;
        width:  $item-size;
        height: $item-size;
        margin: -($item-size / 2);
    
        $angle: (360 / $item-count);
        $rot: 0;
    
        @for $i from 1 through $item-count {
            &:nth-of-type(#{$i}) {
                transform: 
                    rotate($rot * 1deg) 
                    translate($circle-size / 2) 
                    rotate($rot * -1deg);
            }
    
            $rot: $rot + $angle;
        }
    }
}
