@import './font-awesome/font-awesome';
@import './normalize';
@import './fonts';
@import './variables';
@import './mixins';
@import './blocks/header';
@import './blocks/jumbotron';
@import './blocks/advantages';
@import './blocks/treatment';
@import './blocks/programm';
@import './blocks/how-to-visit';
@import './blocks/price-form';
@import './blocks/slider';
@import './blocks/feedback';
@import './blocks/info';
@import './blocks/icons';
@import './blocks/footer';
@import './components/to-top';
@import './components/modal';
@import './components/modal-form';
@import './components/crosshair';
@import './components/confirmation';
