.jumbotron {
    width: 100%;
    min-height: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 127px;
    background: $primary;

    h1,
    p,
    form {
        max-width: 774px;
        color: $white;
    }

    h1 {
        margin: 0;
        font-size: 6.2rem;
        font-family: $rubik;
        font-weight: bold;
    }

    p {
        margin-top: 17px;
        margin-bottom: 50px;
        line-height: 3.7rem;
        font-family: $rubik;
        font-weight: normal;
        font-size: 2.6rem;
        text-align: center;
    }

    form {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        div {
            width: 100%;
        }

        input {
            margin-right: 17px;
            height: 57px;
            min-width: 240px;
            font-family: $roboto;
            text-align: center;
        }

        input:last-child {
            margin-right: 0;
        }

        input::-webkit-input-placeholder       {text-indent: 0px;   transition: text-indent 0.3s ease;}
        input::-moz-placeholder                {text-indent: 0px;   transition: text-indent 0.3s ease;}
        input:-moz-placeholder                 {text-indent: 0px;   transition: text-indent 0.3s ease;}
        input:-ms-input-placeholder            {text-indent: 0px;   transition: text-indent 0.3s ease;}
        input:focus::-webkit-input-placeholder {text-indent: 500px; transition: text-indent 0.3s ease;}
        input:focus::-moz-placeholder          {text-indent: 500px; transition: text-indent 0.3s ease;}
        input:focus:-moz-placeholder           {text-indent: 500px; transition: text-indent 0.3s ease;}
        input:focus:-ms-input-placeholder      {text-indent: 500px; transition: text-indent 0.3s ease;}

        .submit-btn {
            display: flex;
            justify-content: center;
            margin-top: 43px;
            
            button {
                padding: 2.4rem 3.9rem;
                border: 0;
                border-radius: 3.5rem;
                font-family: $rubik;
                font-size: 2.4rem;
                font-weight: 500;
                color: $white;
                background: $hover;
                cursor: pointer;

                &:hover {
                    background: $white;
                    color: $hover;
                    transition: all .3s;
                }
            }
        }
    }
}
