@import './styles/index';

html {
    font-size: 10px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;  
    font-family: $roboto;
    font-size: 1.6rem; 
}

.container {
    position: relative;
    margin: 0 auto;
    max-width: 1460px;
    padding: 0 1.5rem;
    display: flex;
}

a {
    text-decoration: none;
}

button {
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}

h2 {
    position: relative;
    margin-top: 12.5rem;
    margin-bottom: 8.3rem;
    font-weight: 700;
    font-size: 3.6rem;
    text-align: center;
    padding: 0 1.5rem;

    @media screen and (max-width: 940px) {
        margin-top: 6rem;
    }

    @media screen and (max-width: 500px) {
        font-size: 2.8rem;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: -23px;
        left: 50%;
        width: 100px;
        height: 3px;
        transform: translateX(-50%);
        background: $primary;        
    }
} 

h3 {
    font-weight: 500;
    font-size: 1.8rem;
    color: $black;
    text-align: center;

    @media screen and (max-width: 400px) {
        font-size: 1.6rem;
    }
}

p {
    font-weight: 200;
    color: $dark-grey;
}

input {
    text-align: center;    
    font-family: $roboto;
    border-radius: 1.2rem;

    &:focus {
        outline: none;
    }
}

input::-webkit-input-placeholder       {text-indent: 0px; opacity: 1; transition: text-indent 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {text-indent: 500px; opacity: 0; transition: text-indent 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

ul {
    list-style: none;
}
